@{
    ViewData["Title"] = "Home Page";
}

<div class=ctrl>
    <h2 id="res">Verifique loop!</h2>
    <input class="cursor-pointer" id="only-button" type="button" value="go" onclick="onlyButton_OnClick()" />
</div>

<script>

    function onlyButton_OnClick() {

        $.ajax({
            data: {txt:'oi'},
            url: 'Home/VerifyLoop',
            method: 'POST',
            success: function (res) {
                $('#res').html(res.txt);
            }
        });

    };

</script>